body {
  background: content-box radial-gradient rgb(153, 85, 99), skyblue);
}


.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #cbf436;} /* Red */

.button1 {border-radius: 15px;}
.button2 {border-radius: 15px;}
.button3 {border-radius: 15px;}
