body {
  background: content-box radial-gradient rgb(153, 85, 99), skyblue);
}

div {
width: inherit;
  border: 15px solid rgb(154, 165, 60);
  padding: 50px;
  margin: 20px;
  
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #cbf436;} /* Red */

.button1 {border-radius: 15px;}
.button2 {border-radius: 15px;}
.button3 {border-radius: 15px;}
